.container {
	height: 100%;
	overflow: hidden;
}

.table {
	height: 100%;
}

.ant-table-body {
	overflow-y: auto !important;
	max-height: calc(100vh - 200px) !important;
}

.ant-spin-nested-loading {
	height: 100%;
}

.ant-spin-container {
	height: 100%;
}

.title {
	margin-left: var(--spacing-base);
	margin-bottom: var(--spacing-base);
}

.taxRateInput {
	border-radius: 0 !important;
}
