.title {
  margin-left: var(--spacing-base);
	margin-bottom: var(--spacing-base);
	color: var(--color-primary);
}

.table {
	width: 100%;
}

.ant-table-container {
	padding: 0 !important;
}

.ant-table-thead > tr > th {
	background-color: var(--color-background);
	color: var(--color-secondary);
	font-weight: 600;
}

.ant-table-tbody > tr > td {
	border-bottom: 1px solid var(--color-border);
}

.ant-table-tbody > tr:hover > td {
	background-color: rgba(38, 64, 174, 0.05);
}
